table{
    border: 1px solid black;
    margin:auto;
}
td{
    border: 1px solid black;
    background-color: aqua;
    width: 100px;
    text-align: center;
    height: 50px;
}
th{
    background-color: aqua;
    border: 1px solid black;
}