.tablazat2, td{
    border: 1px solid black;
    word-wrap: break-word;
} 

.elso-50{
    height: 100px;
}

.harmadik-100{
    height: 210px;
    width:100px;

}

td{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}